post_details.dtd

<?xml version="1.1" encoding="UTF-8"?>


<!-- #PCDATA - Parsable character data -->
<!-- DTD -DOCUMENT TYPE DEFINITION-->

<!ELEMENT Post_Details (post+)>
<!ELEMENT post (name,date,time)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT time (#PCDATA)>

<!ATTLIST post pid ID #REQUIRED>
